main.aux
main.fdb_latexmk
main.fls
main.log
main.synctex.gz
pdflatex11144.fls
pdflatex14360.fls
\Python\IMG
__pycache__
test.py
compile_gif.py
Attracteur de Lorenz.aux
Attracteur de Lorenz.fdb_latexmk
Attracteur de Lorenz.fls
Attracteur de Lorenz.log
Attracteur de Lorenz.synctex.gz
Attracteur de Lorenz.bbl
Attracteur de Lorenz.bcf
Attracteur de Lorenz.blg
Attracteur de Lorenz.toc
Attracteur de Lorenz.run.xml
